In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing

import warnings
warnings.simplefilter("ignore")

## Loading the datasets

In [2]:
beneficiary_data=pd.read_csv('./datasets/Train_Beneficiarydata-1542865627584.csv')
inpatient_data=pd.read_csv('./datasets/Train_Inpatientdata-1542865627584.csv')
outpatient_data=pd.read_csv('./datasets/Train_Outpatientdata-1542865627584.csv')
label_data=pd.read_csv('./datasets/Train-1542865627584.csv')

## Beneficiary Dataset

In [3]:
beneficiary_data.shape

(138556, 25)

In [4]:
beneficiary_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138556 entries, 0 to 138555
Data columns (total 25 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   BeneID                           138556 non-null  object
 1   DOB                              138556 non-null  object
 2   DOD                              1421 non-null    object
 3   Gender                           138556 non-null  int64
 4   Race                             138556 non-null  int64
 5   RenalDiseaseIndicator            138556 non-null  object
 6   State                            138556 non-null  int64
 7   County                           138556 non-null  int64
 8   NoOfMonths_PartACov              138556 non-null  int64
 9   NoOfMonths_PartBCov              138556 non-null  int64
 10  ChronicCond_Alzheimer            138556 non-null  int64
 11  ChronicCond_Heartfailure         138556 non-null  int64
 12  ChronicCond_KidneyDisease        138556 non-null  int64
 13  ChronicCond_Cancer               138556 non-null  int64
 14  ChronicCond_ObstrPulmonary       138556 non-null  int64
 15  ChronicCond_Depression           138556 non-null  int64
 16  ChronicCond_Diabetes             138556 non-null  int64
 17  ChronicCond_IschemicHeart        138556 non-null  int64
 18  ChronicCond_Osteoporasis         138556 non-null  int64
 19  ChronicCond_rheumatoidarthritis  138556 non-null  int64
 20  ChronicCond_stroke               138556 non-null  int64
 21  IPAnnualReimbursementAmt         138556 non-null  int64
 22  IPAnnualDeductibleAmt            138556 non-null  int64
 23  OPAnnualReimbursementAmt         138556 non-null  int64
 24  OPAnnualDeductibleAmt            138556 non-null  int64
dtypes: int64(21), object(4)
memory usage: 26.4+ MB

In [5]:
beneficiary_data.isnull().sum()

BeneID                                  0
DOB                                     0
DOD                                137135
Gender                                  0
Race                                    0
RenalDiseaseIndicator                   0
State                                   0
County                                  0
NoOfMonths_PartACov                     0
NoOfMonths_PartBCov                     0
ChronicCond_Alzheimer                   0
ChronicCond_Heartfailure                0
ChronicCond_KidneyDisease               0
ChronicCond_Cancer                      0
ChronicCond_ObstrPulmonary              0
ChronicCond_Depression                  0
ChronicCond_Diabetes                    0
ChronicCond_IschemicHeart               0
ChronicCond_Osteoporasis                0
ChronicCond_rheumatoidarthritis         0
ChronicCond_stroke                      0
IPAnnualReimbursementAmt                0
IPAnnualDeductibleAmt                   0
OPAnnualReimbursementAmt                0
OPAnnualDeductibleAmt                   0
dtype: int64

In [6]:
# cheking unique values in categorigal featues 
beneficiary_data_col=beneficiary_data.columns
beneficiary_data_col=list(beneficiary_data_col)
beneficiary_data_col=beneficiary_data_col[3:-4] # removing DOB,DOD and other continues feateus.
for i in beneficiary_data_col:
    print(i,"=",beneficiary_data[i].unique())

Gender = [1 2]
Race = [1 2 3 5]
RenalDiseaseIndicator = ['0' 'Y']
State = [39 52 24 23 45 15 44 41  1 14  7 13 34 31  5 49 46  6 38 10 26  3 20 33
 18 27 51 29 42 36 11 12 30 19  4 25 17 16 32  2 21 50 22 54 28 43 35 37
 47  8  9 53]
County = [230 280 590 270 680 810 610 140  30 360 982  10 780 400 120  50 470  20
 892 200 170 500 710 760  90 130 141 150 700 390 620 260 930 734 250 510
  60 563 570  40 340 100 290 660 350 770 180 460 580 430 880 690 310 550
 190 490 600 220 790 990 370 420   0 980 480 450 960 160 800 410 520 380
 991 110 540 910 240 440  70 860 640 870 560 650 830 330 820  25 451 320
 530 831 950  80 921 940 630 720 989 331 840 758 421 722 730 561 750 791
 947 551 801 953 411 681 300 970 757 241 210 988 890 756 221 843 581 702
 999  11 711 670 328 943 981 591 754 986 431 194 885 740 900 871 641 653
 911 879 992 622 291 812 562 976 920 311 288 752 811 850 191 461 821 223
 792 984 611 882 794 891 962 983 772 842 341 841 211 511 971 881 564 541
 948 913 941 391  55 888 631 654 961  88 946 861 945 949 977 471 987 771
 552 972 703 954 671 902 845 661 903 651 782 312 343  34 822 701 994 795
 793 974 251 691 912 932 963 883 381 462 222 212 582 213 743 951 412 761
 802 281 292 973 542 901 271 993 884 834 985 342 835 978 783 942 838 887
 979 161 362 952 621 874 797 867 301 392 844 996 878 111 113 785 862 712
 131 876 522 224 975 672 601 803 731 873 531 662 905 751 851 612 753 652
 886 875 441 321 592 755 583 832  14 361 904 804 741 931 632 784 893 955
 117 742 796   1  84 944 744 521]
NoOfMonths_PartACov = [12  0  3  7 10 11  8  4  1  6  2  9  5]
NoOfMonths_PartBCov = [12  0  1  9 11  3 10  8  2  6  4  5  7]
ChronicCond_Alzheimer = [1 2]
ChronicCond_Heartfailure = [2 1]
ChronicCond_KidneyDisease = [1 2]
ChronicCond_Cancer = [2 1]
ChronicCond_ObstrPulmonary = [2 1]
ChronicCond_Depression = [1 2]
ChronicCond_Diabetes = [1 2]
ChronicCond_IschemicHeart = [1 2]
ChronicCond_Osteoporasis = [2 1]
ChronicCond_rheumatoidarthritis = [1 2]
ChronicCond_stroke = [1 2]

<li>Only DOD column has null values
<li>Gender has values 1 and 2,which can be changed to 1 and 0 for easy interpretation
<li>In the RenalDiseaseIndicator column Y has to be replaced with 1
<li>If the chronic condition is not found it is given as 2,so replacing it with 0

In [7]:
# Convert Date of Birth and Date of Death from String to Datetime format
beneficiary_data['DOB'] = pd.to_datetime(beneficiary_data['DOB'] , format = '%Y-%m-%d')
beneficiary_data['DOD'] = pd.to_datetime(beneficiary_data['DOD'],format = '%Y-%m-%d')

In [8]:
# Check last date DOD
beneficiary_data['DOD'].max()

Timestamp('2009-12-01 00:00:00')

In [9]:
# https://stackoverflow.com/questions/46508895/calculating-age-from-date-time-format-in-python-pandas?noredirect=1&lq=1
beneficiary_data['Patient_Age'] = round(((beneficiary_data['DOD'] - beneficiary_data['DOB']).dt.days)/365)
beneficiary_data.Patient_Age.fillna(round(((pd.to_datetime('2009-12-01',format ='%Y-%m-%d')-beneficiary_data['DOB']).dt.days)/365),inplace=True)

In [10]:
beneficiary_data.isnull().sum()

BeneID                                  0
DOB                                     0
DOD                                137135
Gender                                  0
Race                                    0
RenalDiseaseIndicator                   0
State                                   0
County                                  0
NoOfMonths_PartACov                     0
NoOfMonths_PartBCov                     0
ChronicCond_Alzheimer                   0
ChronicCond_Heartfailure                0
ChronicCond_KidneyDisease               0
ChronicCond_Cancer                      0
ChronicCond_ObstrPulmonary              0
ChronicCond_Depression                  0
ChronicCond_Diabetes                    0
ChronicCond_IschemicHeart               0
ChronicCond_Osteoporasis                0
ChronicCond_rheumatoidarthritis         0
ChronicCond_stroke                      0
IPAnnualReimbursementAmt                0
IPAnnualDeductibleAmt                   0
OPAnnualReimbursementAmt                0
OPAnnualDeductibleAmt                   0
Patient_Age                             0
dtype: int64

In [11]:
#DOD value is not recorded if patient is alive 
# Set value=1 if the patient is dead i.e DOD value is not null
beneficiary_data['is_dead'] = 0
beneficiary_data.loc[beneficiary_data.DOD.notna(), 'is_dead'] = 1

In [12]:
# replacing 2 with 0 in gender column
beneficiary_data['Gender']=beneficiary_data['Gender'].replace(2,0)
beneficiary_data['Gender'].unique()

array([1, 0], dtype=int64)

In [13]:
# replacing Y with 1 in RenalDiseaseIndicator
beneficiary_data['RenalDiseaseIndicator']=beneficiary_data['RenalDiseaseIndicator'].replace('Y',1)
beneficiary_data['RenalDiseaseIndicator'].unique()

array(['0', 1], dtype=object)

In [14]:
# Replacing 2 with 0 for chronic conditions, Zero indicates chronic condition is No

beneficiary_data = beneficiary_data.replace({'ChronicCond_Alzheimer': 2, 'ChronicCond_Heartfailure': 2, 'ChronicCond_KidneyDisease': 2,
                           'ChronicCond_Cancer': 2, 'ChronicCond_ObstrPulmonary': 2, 'ChronicCond_Depression': 2, 
                           'ChronicCond_Diabetes': 2, 'ChronicCond_IschemicHeart': 2, 'ChronicCond_Osteoporasis': 2, 
                           'ChronicCond_rheumatoidarthritis': 2, 'ChronicCond_stroke': 2 }, 0)

In [15]:
beneficiary_data['ChronicCond_Alzheimer'].unique()

array([1, 0], dtype=int64)

In [16]:
# convert all these columns datatypes to numeric
beneficiary_data[["ChronicCond_Alzheimer", "ChronicCond_Heartfailure", "ChronicCond_KidneyDisease", "ChronicCond_Cancer", "ChronicCond_ObstrPulmonary", "ChronicCond_Depression", "ChronicCond_Diabetes", "ChronicCond_IschemicHeart", "ChronicCond_Osteoporasis", "ChronicCond_rheumatoidarthritis", "ChronicCond_stroke", "RenalDiseaseIndicator"]] =beneficiary_data[["ChronicCond_Alzheimer", "ChronicCond_Heartfailure", "ChronicCond_KidneyDisease", "ChronicCond_Cancer", "ChronicCond_ObstrPulmonary", "ChronicCond_Depression", "ChronicCond_Diabetes", "ChronicCond_IschemicHeart", "ChronicCond_Osteoporasis", "ChronicCond_rheumatoidarthritis", "ChronicCond_stroke", "RenalDiseaseIndicator"]].apply(pd.to_numeric)

In [17]:
# calculate patient risk score by summing up all the chronic conditions.
# The higher risk score indicates the health of the patient is not good

beneficiary_data['Patient_Risk_Score'] = beneficiary_data['ChronicCond_Alzheimer'] + beneficiary_data['ChronicCond_Heartfailure'] + \
                                        beneficiary_data['ChronicCond_KidneyDisease'] + beneficiary_data['ChronicCond_Cancer'] +\
                                        beneficiary_data['ChronicCond_ObstrPulmonary'] + beneficiary_data['ChronicCond_Depression'] +\
                                    beneficiary_data['ChronicCond_Diabetes'] + beneficiary_data['ChronicCond_IschemicHeart'] +\
                                    beneficiary_data['ChronicCond_Osteoporasis'] + beneficiary_data['ChronicCond_rheumatoidarthritis'] +\
                                    beneficiary_data['ChronicCond_stroke'] + beneficiary_data['RenalDiseaseIndicator']

In [18]:
beneficiary_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138556 entries, 0 to 138555
Data columns (total 28 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   BeneID                           138556 non-null  object
 1   DOB                              138556 non-null  datetime64[ns]
 2   DOD                              1421 non-null    datetime64[ns]
 3   Gender                           138556 non-null  int64
 4   Race                             138556 non-null  int64
 5   RenalDiseaseIndicator            138556 non-null  int64
 6   State                            138556 non-null  int64
 7   County                           138556 non-null  int64
 8   NoOfMonths_PartACov              138556 non-null  int64
 9   NoOfMonths_PartBCov              138556 non-null  int64
 10  ChronicCond_Alzheimer            138556 non-null  int64
 11  ChronicCond_Heartfailure         138556 non-null  int64
 12  ChronicCond_KidneyDisease        138556 non-null  int64
 13  ChronicCond_Cancer               138556 non-null  int64
 14  ChronicCond_ObstrPulmonary       138556 non-null  int64
 15  ChronicCond_Depression           138556 non-null  int64
 16  ChronicCond_Diabetes             138556 non-null  int64
 17  ChronicCond_IschemicHeart        138556 non-null  int64
 18  ChronicCond_Osteoporasis         138556 non-null  int64
 19  ChronicCond_rheumatoidarthritis  138556 non-null  int64
 20  ChronicCond_stroke               138556 non-null  int64
 21  IPAnnualReimbursementAmt         138556 non-null  int64
 22  IPAnnualDeductibleAmt            138556 non-null  int64
 23  OPAnnualReimbursementAmt         138556 non-null  int64
 24  OPAnnualDeductibleAmt            138556 non-null  int64
 25  Patient_Age                      138556 non-null  float64
 26  is_dead                          138556 non-null  int64
 27  Patient_Risk_Score               138556 non-null  int64
dtypes: datetime64[ns](2), float64(1), int64(24), object(1)
memory usage: 29.6+ MB

## Inpatient data

In [19]:
inpatient_data.shape

(40474, 30)

In [20]:
inpatient_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40474 entries, 0 to 40473
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   BeneID                  40474 non-null  object
 1   ClaimID                 40474 non-null  object
 2   ClaimStartDt            40474 non-null  object
 3   ClaimEndDt              40474 non-null  object
 4   Provider                40474 non-null  object
 5   InscClaimAmtReimbursed  40474 non-null  int64
 6   AttendingPhysician      40362 non-null  object
 7   OperatingPhysician      23830 non-null  object
 8   OtherPhysician          4690 non-null   object
 9   AdmissionDt             40474 non-null  object
 10  ClmAdmitDiagnosisCode   40474 non-null  object
 11  DeductibleAmtPaid       39575 non-null  float64
 12  DischargeDt             40474 non-null  object
 13  DiagnosisGroupCode      40474 non-null  object
 14  ClmDiagnosisCode_1      40474 non-null  object
 15  ClmDiagnosisCode_2      40248 non-null  object
 16  ClmDiagnosisCode_3      39798 non-null  object
 17  ClmDiagnosisCode_4      38940 non-null  object
 18  ClmDiagnosisCode_5      37580 non-null  object
 19  ClmDiagnosisCode_6      35636 non-null  object
 20  ClmDiagnosisCode_7      33216 non-null  object
 21  ClmDiagnosisCode_8      30532 non-null  object
 22  ClmDiagnosisCode_9      26977 non-null  object
 23  ClmDiagnosisCode_10     3927 non-null   object
 24  ClmProcedureCode_1      23148 non-null  float64
 25  ClmProcedureCode_2      5454 non-null   float64
 26  ClmProcedureCode_3      965 non-null    float64
 27  ClmProcedureCode_4      116 non-null    float64
 28  ClmProcedureCode_5      9 non-null      float64
 29  ClmProcedureCode_6      0 non-null      float64
dtypes: float64(7), int64(1), object(22)
memory usage: 9.3+ MB

In [21]:
inpatient_data.isnull().sum()

BeneID                        0
ClaimID                       0
ClaimStartDt                  0
ClaimEndDt                    0
Provider                      0
InscClaimAmtReimbursed        0
AttendingPhysician          112
OperatingPhysician        16644
OtherPhysician            35784
AdmissionDt                   0
ClmAdmitDiagnosisCode         0
DeductibleAmtPaid           899
DischargeDt                   0
DiagnosisGroupCode            0
ClmDiagnosisCode_1            0
ClmDiagnosisCode_2          226
ClmDiagnosisCode_3          676
ClmDiagnosisCode_4         1534
ClmDiagnosisCode_5         2894
ClmDiagnosisCode_6         4838
ClmDiagnosisCode_7         7258
ClmDiagnosisCode_8         9942
ClmDiagnosisCode_9        13497
ClmDiagnosisCode_10       36547
ClmProcedureCode_1        17326
ClmProcedureCode_2        35020
ClmProcedureCode_3        39509
ClmProcedureCode_4        40358
ClmProcedureCode_5        40465
ClmProcedureCode_6        40474
dtype: int64

In [22]:
#inpatient_data.drop(columns = ['ClmProcedureCode_5', 'ClmProcedureCode_6'], axis=1, inplace= True) #No Values
inpatient_data[['AttendingPhysician','OperatingPhysician','OtherPhysician']]=inpatient_data[['AttendingPhysician','OperatingPhysician','OtherPhysician']].fillna(0)
for count in range(6):
    inpatient_data[f'ClmProcedureCode_{count+1}'] = inpatient_data[f'ClmProcedureCode_{count+1}'].fillna(0)
    
for count in range(10):
    inpatient_data[f'ClmDiagnosisCode_{count+1}'] = inpatient_data[f'ClmDiagnosisCode_{count+1}'].fillna('0')

In [23]:
inpatient_data.DeductibleAmtPaid.fillna(0, inplace = True)

In [24]:
inpatient_data.isnull().sum()

BeneID                    0
ClaimID                   0
ClaimStartDt              0
ClaimEndDt                0
Provider                  0
InscClaimAmtReimbursed    0
AttendingPhysician        0
OperatingPhysician        0
OtherPhysician            0
AdmissionDt               0
ClmAdmitDiagnosisCode     0
DeductibleAmtPaid         0
DischargeDt               0
DiagnosisGroupCode        0
ClmDiagnosisCode_1        0
ClmDiagnosisCode_2        0
ClmDiagnosisCode_3        0
ClmDiagnosisCode_4        0
ClmDiagnosisCode_5        0
ClmDiagnosisCode_6        0
ClmDiagnosisCode_7        0
ClmDiagnosisCode_8        0
ClmDiagnosisCode_9        0
ClmDiagnosisCode_10       0
ClmProcedureCode_1        0
ClmProcedureCode_2        0
ClmProcedureCode_3        0
ClmProcedureCode_4        0
ClmProcedureCode_5        0
ClmProcedureCode_6        0
dtype: int64

In [25]:
# convert ClaimStartDt, ClaimEndDt from string to datetime format
inpatient_data['ClaimStartDt'] = pd.to_datetime(inpatient_data['ClaimStartDt'] , format = '%Y-%m-%d')
inpatient_data['ClaimEndDt'] = pd.to_datetime(inpatient_data['ClaimEndDt'],format = '%Y-%m-%d')
# convert AdmissionDt, DischargeDt from string to datetime format
inpatient_data['AdmissionDt'] = pd.to_datetime(inpatient_data['AdmissionDt'] , format = '%Y-%m-%d')
inpatient_data['DischargeDt'] = pd.to_datetime(inpatient_data['DischargeDt'],format = '%Y-%m-%d')

In [26]:
# Calculate days_admitted = DischargeDt - AdmissionDt
inpatient_data['days_admitted'] = ((inpatient_data['DischargeDt'] - inpatient_data['AdmissionDt']).dt.days)
# Calculate Claim_duration = ClaimEndDt - ClaimStartDt
inpatient_data['Claim_duration'] = ((inpatient_data['ClaimEndDt'] - inpatient_data['ClaimStartDt']).dt.days)

### If the claim_duration is greater than the days_admitted then its suspicious,creating 'Extra_days_claimed' column

In [27]:
# Extra_days_claimed = Claim_duration - Claim_duration
inpatient_data['Extra_days_claimed'] = np.where(inpatient_data['Claim_duration']>inpatient_data['days_admitted'], inpatient_data['Claim_duration'] - inpatient_data['days_admitted'], 0)

In [28]:
inpatient_data['was_admitted']=1

In [29]:
inpatient_data.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,days_admitted,Claim_duration,Extra_days_claimed,was_admitted
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,0,0,2009-04-12,...,0.0,0.0,0.0,0.0,0.0,0.0,6,6,0,1
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,0,2009-08-31,...,7092.0,0.0,0.0,0.0,0.0,0.0,2,2,0,1
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,0,PHY324689,2009-09-17,...,0.0,0.0,0.0,0.0,0.0,0.0,3,3,0,1
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,...,331.0,0.0,0.0,0.0,0.0,0.0,8,8,0,1
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,PHY379376,PHY398258,0,2009-08-13,...,3893.0,0.0,0.0,0.0,0.0,0.0,17,17,0,1

## Outpatient data

In [30]:
outpatient_data.shape

(517737, 27)

In [31]:
outpatient_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517737 entries, 0 to 517736
Data columns (total 27 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   BeneID                  517737 non-null  object
 1   ClaimID                 517737 non-null  object
 2   ClaimStartDt            517737 non-null  object
 3   ClaimEndDt              517737 non-null  object
 4   Provider                517737 non-null  object
 5   InscClaimAmtReimbursed  517737 non-null  int64
 6   AttendingPhysician      516341 non-null  object
 7   OperatingPhysician      90617 non-null   object
 8   OtherPhysician          195046 non-null  object
 9   ClmDiagnosisCode_1      507284 non-null  object
 10  ClmDiagnosisCode_2      322357 non-null  object
 11  ClmDiagnosisCode_3      203257 non-null  object
 12  ClmDiagnosisCode_4      125596 non-null  object
 13  ClmDiagnosisCode_5      74344 non-null   object
 14  ClmDiagnosisCode_6      48756 non-null   object
 15  ClmDiagnosisCode_7      32961 non-null   object
 16  ClmDiagnosisCode_8      22912 non-null   object
 17  ClmDiagnosisCode_9      14838 non-null   object
 18  ClmDiagnosisCode_10     1083 non-null    object
 19  ClmProcedureCode_1      162 non-null     float64
 20  ClmProcedureCode_2      36 non-null      float64
 21  ClmProcedureCode_3      4 non-null       float64
 22  ClmProcedureCode_4      2 non-null       float64
 23  ClmProcedureCode_5      0 non-null       float64
 24  ClmProcedureCode_6      0 non-null       float64
 25  DeductibleAmtPaid       517737 non-null  int64
 26  ClmAdmitDiagnosisCode   105425 non-null  object
dtypes: float64(6), int64(2), object(19)
memory usage: 106.7+ MB

In [32]:
outpatient_data.isnull().sum()

BeneID                         0
ClaimID                        0
ClaimStartDt                   0
ClaimEndDt                     0
Provider                       0
InscClaimAmtReimbursed         0
AttendingPhysician          1396
OperatingPhysician        427120
OtherPhysician            322691
ClmDiagnosisCode_1         10453
ClmDiagnosisCode_2        195380
ClmDiagnosisCode_3        314480
ClmDiagnosisCode_4        392141
ClmDiagnosisCode_5        443393
ClmDiagnosisCode_6        468981
ClmDiagnosisCode_7        484776
ClmDiagnosisCode_8        494825
ClmDiagnosisCode_9        502899
ClmDiagnosisCode_10       516654
ClmProcedureCode_1        517575
ClmProcedureCode_2        517701
ClmProcedureCode_3        517733
ClmProcedureCode_4        517735
ClmProcedureCode_5        517737
ClmProcedureCode_6        517737
DeductibleAmtPaid              0
ClmAdmitDiagnosisCode     412312
dtype: int64

In [33]:
outpatient_data.ClmAdmitDiagnosisCode.nunique()

3715

In [34]:
# convert ClaimStartDt, ClaimEndDt from string to datetime format
outpatient_data['ClaimStartDt'] = pd.to_datetime(outpatient_data['ClaimStartDt'] , format = '%Y-%m-%d')
outpatient_data['ClaimEndDt'] = pd.to_datetime(outpatient_data['ClaimEndDt'],format = '%Y-%m-%d')

In [35]:
outpatient_data[['AttendingPhysician','OperatingPhysician','OtherPhysician']]=outpatient_data[['AttendingPhysician','OperatingPhysician','OtherPhysician']].fillna(0)

In [36]:
#outpatient_data.drop(columns = ['ClmProcedureCode_5', 'ClmProcedureCode_6'], axis=1, inplace= True) #No Values

for count in range(6):
    outpatient_data[f'ClmProcedureCode_{count+1}'] = outpatient_data[f'ClmProcedureCode_{count+1}'].fillna(0)
    
for count in range(10):
    outpatient_data[f'ClmDiagnosisCode_{count+1}'] = outpatient_data[f'ClmDiagnosisCode_{count+1}'].fillna('0')

In [37]:
outpatient_data['ClmAdmitDiagnosisCode']=outpatient_data['ClmAdmitDiagnosisCode'].fillna(0)

In [38]:
outpatient_data.isnull().sum()

BeneID                    0
ClaimID                   0
ClaimStartDt              0
ClaimEndDt                0
Provider                  0
InscClaimAmtReimbursed    0
AttendingPhysician        0
OperatingPhysician        0
OtherPhysician            0
ClmDiagnosisCode_1        0
ClmDiagnosisCode_2        0
ClmDiagnosisCode_3        0
ClmDiagnosisCode_4        0
ClmDiagnosisCode_5        0
ClmDiagnosisCode_6        0
ClmDiagnosisCode_7        0
ClmDiagnosisCode_8        0
ClmDiagnosisCode_9        0
ClmDiagnosisCode_10       0
ClmProcedureCode_1        0
ClmProcedureCode_2        0
ClmProcedureCode_3        0
ClmProcedureCode_4        0
ClmProcedureCode_5        0
ClmProcedureCode_6        0
DeductibleAmtPaid         0
ClmAdmitDiagnosisCode     0
dtype: int64

In [39]:
outpatient_data['was_admitted']=0

In [40]:
outpatient_data.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,ClmDiagnosisCode_1,...,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,DeductibleAmtPaid,ClmAdmitDiagnosisCode,was_admitted
0,BENE11002,CLM624349,2009-10-11,2009-10-11,PRV56011,30,PHY326117,0,0,78943,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0,56409,0
1,BENE11003,CLM189947,2009-02-12,2009-02-12,PRV57610,80,PHY362868,0,0,6115,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0,79380,0
2,BENE11003,CLM438021,2009-06-27,2009-06-27,PRV57595,10,PHY328821,0,0,2723,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0
3,BENE11004,CLM121801,2009-01-06,2009-01-06,PRV56011,40,PHY334319,0,0,71988,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0
4,BENE11004,CLM150998,2009-01-22,2009-01-22,PRV56011,200,PHY403831,0,0,82382,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0,71947,0

## Merging all datasets

#### 1. Merging inpatient and outpatient datasets

In [41]:
print(inpatient_data.shape)
print(outpatient_data.shape)

(40474, 34)
(517737, 28)

In [42]:
# getting commonn columns
common_cols=[]
k=0
for i in inpatient_data.columns:
    if i in outpatient_data.columns:
        common_cols.append(i)
        print(k,i)
        k=k+1
len(common_cols)

0 BeneID
1 ClaimID
2 ClaimStartDt
3 ClaimEndDt
4 Provider
5 InscClaimAmtReimbursed
6 AttendingPhysician
7 OperatingPhysician
8 OtherPhysician
9 ClmAdmitDiagnosisCode
10 DeductibleAmtPaid
11 ClmDiagnosisCode_1
12 ClmDiagnosisCode_2
13 ClmDiagnosisCode_3
14 ClmDiagnosisCode_4
15 ClmDiagnosisCode_5
16 ClmDiagnosisCode_6
17 ClmDiagnosisCode_7
18 ClmDiagnosisCode_8
19 ClmDiagnosisCode_9
20 ClmDiagnosisCode_10
21 ClmProcedureCode_1
22 ClmProcedureCode_2
23 ClmProcedureCode_3
24 ClmProcedureCode_4
25 ClmProcedureCode_5
26 ClmProcedureCode_6
27 was_admitted

28

In [43]:
merged_in_out=pd.merge(inpatient_data,outpatient_data,on=common_cols,how='outer')

In [44]:
merged_in_out.shape

(558211, 34)

In [45]:
inpatient_data.columns

Index(['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'OperatingPhysician',
       'OtherPhysician', 'AdmissionDt', 'ClmAdmitDiagnosisCode',
       'DeductibleAmtPaid', 'DischargeDt', 'DiagnosisGroupCode',
       'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2', 'ClmDiagnosisCode_3',
       'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5', 'ClmDiagnosisCode_6',
       'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8', 'ClmDiagnosisCode_9',
       'ClmDiagnosisCode_10', 'ClmProcedureCode_1', 'ClmProcedureCode_2',
       'ClmProcedureCode_3', 'ClmProcedureCode_4', 'ClmProcedureCode_5',
       'ClmProcedureCode_6', 'days_admitted', 'Claim_duration',
       'Extra_days_claimed', 'was_admitted'],
      dtype='object')

In [46]:
outpatient_data.columns

Index(['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'OperatingPhysician',
       'OtherPhysician', 'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2',
       'ClmDiagnosisCode_3', 'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5',
       'ClmDiagnosisCode_6', 'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8',
       'ClmDiagnosisCode_9', 'ClmDiagnosisCode_10', 'ClmProcedureCode_1',
       'ClmProcedureCode_2', 'ClmProcedureCode_3', 'ClmProcedureCode_4',
       'ClmProcedureCode_5', 'ClmProcedureCode_6', 'DeductibleAmtPaid',
       'ClmAdmitDiagnosisCode', 'was_admitted'],
      dtype='object')

In [47]:
merged_in_out.isnull().sum()

BeneID                         0
ClaimID                        0
ClaimStartDt                   0
ClaimEndDt                     0
Provider                       0
InscClaimAmtReimbursed         0
AttendingPhysician             0
OperatingPhysician             0
OtherPhysician                 0
AdmissionDt               517737
ClmAdmitDiagnosisCode          0
DeductibleAmtPaid              0
DischargeDt               517737
DiagnosisGroupCode        517737
ClmDiagnosisCode_1             0
ClmDiagnosisCode_2             0
ClmDiagnosisCode_3             0
ClmDiagnosisCode_4             0
ClmDiagnosisCode_5             0
ClmDiagnosisCode_6             0
ClmDiagnosisCode_7             0
ClmDiagnosisCode_8             0
ClmDiagnosisCode_9             0
ClmDiagnosisCode_10            0
ClmProcedureCode_1             0
ClmProcedureCode_2             0
ClmProcedureCode_3             0
ClmProcedureCode_4             0
ClmProcedureCode_5             0
ClmProcedureCode_6             0
days_admitted             517737
Claim_duration            517737
Extra_days_claimed        517737
was_admitted                   0
dtype: int64

In [48]:
merged_in_out.columns

Index(['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'OperatingPhysician',
       'OtherPhysician', 'AdmissionDt', 'ClmAdmitDiagnosisCode',
       'DeductibleAmtPaid', 'DischargeDt', 'DiagnosisGroupCode',
       'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2', 'ClmDiagnosisCode_3',
       'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5', 'ClmDiagnosisCode_6',
       'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8', 'ClmDiagnosisCode_9',
       'ClmDiagnosisCode_10', 'ClmProcedureCode_1', 'ClmProcedureCode_2',
       'ClmProcedureCode_3', 'ClmProcedureCode_4', 'ClmProcedureCode_5',
       'ClmProcedureCode_6', 'days_admitted', 'Claim_duration',
       'Extra_days_claimed', 'was_admitted'],
      dtype='object')

#### 2. Merging merged_in_out with beneficiary datasets

In [49]:
beneficiary_data.shape

(138556, 28)

In [50]:
merged_in_out_ben=pd.merge(merged_in_out,beneficiary_data,on='BeneID',how='inner')

In [51]:
merged_in_out_ben.shape

(558211, 61)

#### 3. Merging merged_in_out_ben with provider datasets

In [52]:
final_merged_data=pd.merge(merged_in_out_ben,label_data,on='Provider',how='inner')

In [53]:
final_merged_data.shape

(558211, 62)

In [54]:
final_merged_data.isnull().sum()

BeneID                   0
ClaimID                  0
ClaimStartDt             0
ClaimEndDt               0
Provider                 0
                        ..
OPAnnualDeductibleAmt    0
Patient_Age              0
is_dead                  0
Patient_Risk_Score       0
PotentialFraud           0
Length: 62, dtype: int64

In [55]:
final_merged_data.shape

(558211, 62)

In [56]:
final_merged_data['Total_ip_op_AnnualReimbursementAmt']=final_merged_data['IPAnnualReimbursementAmt']+final_merged_data['OPAnnualReimbursementAmt']

In [57]:
final_merged_data['Total_ip_op_AnnualDeductibleAmt']=final_merged_data['IPAnnualDeductibleAmt']+final_merged_data['OPAnnualDeductibleAmt']

### getting count of different physicians attended beneficiary

In [60]:
filter_cols=['AttendingPhysician','OperatingPhysician','OtherPhysician']
df=final_merged_data[filter_cols]
col=np.where(df==0,0,1)
sum_total_features=np.sum(col,axis=1) # adding all columns.
final_merged_data['Total_physicans_attended']=sum_total_features # stroing in new column

### getting count of different claim diagnosis code

In [61]:
filter_cols=['ClmDiagnosisCode_1', 'ClmDiagnosisCode_2', 'ClmDiagnosisCode_3',
       'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5', 'ClmDiagnosisCode_6',
       'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8', 'ClmDiagnosisCode_9',
       'ClmDiagnosisCode_10']
df=final_merged_data[filter_cols]
col=np.where(df==0,0,1)
sum_total_features=np.sum(col,axis=1) # adding all columns.
final_merged_data['Total_ClmDiagnosisCode']=sum_total_features # stroing in new column

In [62]:
final_merged_data.columns

Index(['BeneID', 'ClaimID', 'ClaimStartDt', 'ClaimEndDt', 'Provider',
       'InscClaimAmtReimbursed', 'AttendingPhysician', 'OperatingPhysician',
       'OtherPhysician', 'AdmissionDt', 'ClmAdmitDiagnosisCode',
       'DeductibleAmtPaid', 'DischargeDt', 'DiagnosisGroupCode',
       'ClmDiagnosisCode_1', 'ClmDiagnosisCode_2', 'ClmDiagnosisCode_3',
       'ClmDiagnosisCode_4', 'ClmDiagnosisCode_5', 'ClmDiagnosisCode_6',
       'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8', 'ClmDiagnosisCode_9',
       'ClmDiagnosisCode_10', 'ClmProcedureCode_1', 'ClmProcedureCode_2',
       'ClmProcedureCode_3', 'ClmProcedureCode_4', 'ClmProcedureCode_5',
       'ClmProcedureCode_6', 'days_admitted', 'Claim_duration',
       'Extra_days_claimed', 'was_admitted', 'DOB', 'DOD', 'Gender', 'Race',
       'RenalDiseaseIndicator', 'State', 'County', 'NoOfMonths_PartACov',
       'NoOfMonths_PartBCov', 'ChronicCond_Alzheimer',
       'ChronicCond_Heartfailure', 'ChronicCond_KidneyDisease',
       'ChronicCond_Cancer', 'ChronicCond_ObstrPulmonary',
       'ChronicCond_Depression', 'ChronicCond_Diabetes',
       'ChronicCond_IschemicHeart', 'ChronicCond_Osteoporasis',
       'ChronicCond_rheumatoidarthritis', 'ChronicCond_stroke',
       'IPAnnualReimbursementAmt', 'IPAnnualDeductibleAmt',
       'OPAnnualReimbursementAmt', 'OPAnnualDeductibleAmt', 'Patient_Age',
       'is_dead', 'Patient_Risk_Score', 'PotentialFraud',
       'Total_ip_op_AnnualReimbursementAmt', 'Total_ip_op_AnnualDeductibleAmt',
       'Total_physicans_attended', 'Total_ClmDiagnosisCode'],
      dtype='object')

### getting count of different claim procedure code

In [63]:
filter_cols=['ClmProcedureCode_1', 'ClmProcedureCode_2',
       'ClmProcedureCode_3', 'ClmProcedureCode_4', 'ClmProcedureCode_5',
       'ClmProcedureCode_6']
df=final_merged_data[filter_cols]
col=np.where(df==0,0,1)
sum_total_features=np.sum(col,axis=1) # adding all columns.
final_merged_data['Total_ClmProcedureCode']=sum_total_features # stroing in new column

## Label Encoding

In [71]:
## Label Encoding

In [72]:
le = preprocessing.LabelEncoder()
final_merged_data['PotentialFraud'] = le.fit_transform(final_merged_data['PotentialFraud'])
final_merged_data.PotentialFraud.unique()

array([1, 0])

In [73]:
remove_columns=['DOB', 'DOD','AdmissionDt', 'DischargeDt','ClaimStartDt', 'ClaimEndDt','ClmDiagnosisCode_1', 'ClmDiagnosisCode_2', 'ClmDiagnosisCode_3', 'ClmDiagnosisCode_4',,'BeneID', 'ClaimID'
                'ClmDiagnosisCode_5', 'ClmDiagnosisCode_6', 'ClmDiagnosisCode_7', 'ClmDiagnosisCode_8',
                'ClmDiagnosisCode_9', 'ClmDiagnosisCode_10', 'ClmProcedureCode_1', 'ClmProcedureCode_2', 
                'ClmProcedureCode_3', 'ClmProcedureCode_4', 'ClmProcedureCode_5', 'ClmProcedureCode_6']

In [74]:
final_merged_data=final_merged_data.drop(columns=remove_columns, axis=1)

In [75]:
final_merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 558211 entries, 0 to 558210
Data columns (total 43 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   Provider                            558211 non-null  object
 1   InscClaimAmtReimbursed              558211 non-null  int64
 2   AttendingPhysician                  558211 non-null  object
 3   OperatingPhysician                  558211 non-null  object
 4   OtherPhysician                      558211 non-null  object
 5   ClmAdmitDiagnosisCode               558211 non-null  object
 6   DeductibleAmtPaid                   558211 non-null  float64
 7   DiagnosisGroupCode                  558211 non-null  object
 8   days_admitted                       558211 non-null  float64
 9   Claim_duration                      558211 non-null  float64
 10  Extra_days_claimed                  558211 non-null  float64
 11  was_admitted                        558211 non-null  int64
 12  Gender                              558211 non-null  int64
 13  Race                                558211 non-null  int64
 14  RenalDiseaseIndicator               558211 non-null  int64
 15  State                               558211 non-null  int64
 16  County                              558211 non-null  int64
 17  NoOfMonths_PartACov                 558211 non-null  int64
 18  NoOfMonths_PartBCov                 558211 non-null  int64
 19  ChronicCond_Alzheimer               558211 non-null  int64
 20  ChronicCond_Heartfailure            558211 non-null  int64
 21  ChronicCond_KidneyDisease           558211 non-null  int64
 22  ChronicCond_Cancer                  558211 non-null  int64
 23  ChronicCond_ObstrPulmonary          558211 non-null  int64
 24  ChronicCond_Depression              558211 non-null  int64
 25  ChronicCond_Diabetes                558211 non-null  int64
 26  ChronicCond_IschemicHeart           558211 non-null  int64
 27  ChronicCond_Osteoporasis            558211 non-null  int64
 28  ChronicCond_rheumatoidarthritis     558211 non-null  int64
 29  ChronicCond_stroke                  558211 non-null  int64
 30  IPAnnualReimbursementAmt            558211 non-null  int64
 31  IPAnnualDeductibleAmt               558211 non-null  int64
 32  OPAnnualReimbursementAmt            558211 non-null  int64
 33  OPAnnualDeductibleAmt               558211 non-null  int64
 34  Patient_Age                         558211 non-null  float64
 35  is_dead                             558211 non-null  int64
 36  Patient_Risk_Score                  558211 non-null  int64
 37  PotentialFraud                      558211 non-null  int32
 38  Total_ip_op_AnnualReimbursementAmt  558211 non-null  int64
 39  Total_ip_op_AnnualDeductibleAmt     558211 non-null  int64
 40  Total_physicans_attended            558211 non-null  int32
 41  Total_ClmDiagnosisCode              558211 non-null  int32
 42  Total_ClmProcedureCode              558211 non-null  int32
dtypes: float64(5), int32(4), int64(28), object(6)
memory usage: 178.9+ MB

In [76]:
final_merged_data.Gender=final_merged_data.Gender.astype('category')
final_merged_data.Race=final_merged_data.Race.astype('category')
final_merged_data.State=final_merged_data.State.astype('category')
final_merged_data.County=final_merged_data.County.astype('category')
final_merged_data.NoOfMonths_PartACov =final_merged_data.NoOfMonths_PartACov .astype('category')
final_merged_data.NoOfMonths_PartBCov =final_merged_data.NoOfMonths_PartBCov .astype('category')
final_merged_data.ClmAdmitDiagnosisCode=final_merged_data.ClmAdmitDiagnosisCode.astype('str')
final_merged_data.DiagnosisGroupCode=final_merged_data.DiagnosisGroupCode.astype('str')
final_merged_data.AttendingPhysician=final_merged_data.AttendingPhysician.astype('str')
final_merged_data.OperatingPhysician=final_merged_data.OperatingPhysician.astype('str')
final_merged_data.OtherPhysician=final_merged_data.OtherPhysician.astype('str')

In [77]:
final_merged_data.to_csv('final_merged_data.csv',index=False)

In [78]:
final_merged_data.shape

(558211, 43)